:root {
  --primary-color: #30c499;
}
#back-to-top {
  display: inline-block;
  opacity: 0;
  position: fixed;
  bottom: -4em;
  right: 1em;
  width: 2.8em;
  height: 2.8em;
  line-height: 2.8em;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}
#back-to-top:hover,
#back-to-top:focus {
  background-color: #fff;
  color: var(--primary-color);
}
#back-to-top.visible {
  opacity: 1;
  bottom: 1em;
}
