/* reset */
body {
  margin: 0;
  padding: 0;
}
/* /reset */

.menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.menu-item {
  margin: 0 auto;
}
.menu-link {
  display: block;
  padding: 6px 15px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.menu-link,
.menu-bar {
  transition: all 0.35s ease-in-out;
}
.menu-bar {
  position: absolute;
  border-bottom: 4px solid transparent;
}
