/* reset */
body {
  margin: 0;
  padding: 0;
}
/* /reset */

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul.nav {
  list-style-type: none;
  padding: 0;
}
.nav-item {
  margin: 0 auto;
}
.nav-link {
  display: block;
  padding: 6px 15px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.nav-link,
.nav-target {
  transition: all 0.35s ease-in-out;
}
.nav-target {
  position: absolute;
  border-bottom: 4px solid transparent;
}
